.products-container {
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding-left: 0;
}
